extends layout/bootstrap.jade
block body
  include navbar
  include userHelper
  div.container
    h2.row.hatebu-who
      div.col-sm-12
        div.row
          div.col-xs-3.col-sm-1.icon
            img.icon(src=icon_n)
          div.col-xs-9.col-sm-11.name
            div.user-id= user.id
            a(href="http://b.hatena.ne.jp/#{user.id}/follow.follow").btn.btn-default.btn-xs お気に入りに追加
    div.row.hatebu-profile
      div.col-sm-3
        div.panel.panel-primary.bookmark-status
          div.panel-heading 
            h3.panel-title はてブ利用状況
          - attrs = [{name:"bookmark_count", title:"ブックマーク数"}, {name:"favorites_count", title:"お気に入り数"}, {name:"favorited_count", title:"お気に入られ数"}, {name:"stared_count", title:"累計はてなスター数"}]
          table.table.table-striped
            tbody
              each attr in attrs
                tr(id="#{user.id}-#{attr.name}")
                  td.attr-name= attr.title
                  td.attr-value
                    strong= user.profile[attr.name]
      div.col-sm-5
        div.panel.panel-info.first-bookmark
          div.panel-heading
            h3.panel-title 一番最初のブックマーク
          div.panel-body
            h2.first-time= timeStr
            h3
              a(href=first_bookmark.entry_link)
                span.title= first_bookmark.entry_title
              p.comment= first_bookmark.comment
    div.row.hatebu-profile
      div.col-sm-3
        div.panel.panel-primary.bookmark-words
          div.panel-heading
            h3.panel-title カテゴリー分析
          div.list-group
            div.list-group-item
              p.list-group-item-text
                each counter in user.profile.categories
                  span #{counter.word}: #{counter.count}
                  br
              hr
              p.list-group-item-text
                h5 似ているユーザー
                ol
                  - keyword_recommend_users = user.profile.similarities.category.slice(0,5)
                  each guser in keyword_recommend_users
                    li
                      a(href="/user/#{guser.id}")= guser.id
      div.col-sm-3
        div.panel.panel-primary.bookmark-words
          div.panel-heading
            h3.panel-title タイトルの頻出名詞分析
          div.list-group
            div.list-group-item
              p.list-group-item-text
                each counter in user.profile.titles
                  span #{counter.word}: #{counter.count}
                  br
              hr
              p.list-group-item-text
                h5 似ているユーザー
                ol
                  - keyword_recommend_users = user.profile.similarities.title.slice(0,5)
                  each guser in keyword_recommend_users
                    li
                      a(href="/user/#{guser.id}")= guser.id
      div.col-sm-3
        div.panel.panel-primary.bookmark-words
          div.panel-heading
            h3.panel-title はてなキーワード分析
          div.list-group
            div.list-group-item
              p.list-group-item-text
                each counter in user.profile.keywords
                  span #{counter.word}: #{counter.count}
                  br
              hr
              p.list-group-item-text
                h5 似ているユーザー
                ol
                  - keyword_recommend_users = user.profile.similarities.keyword.slice(0,5)
                  each guser in keyword_recommend_users
                    li
                      a(href="/user/#{guser.id}")= guser.id
      div.col-sm-3
        div.panel.panel-primary.bookmark-words
          div.panel-heading
            h3.panel-title タグ使用頻度ランキング
          div.list-group
            div.list-group-item
              p.list-group-item-text
                each counter in user.profile.tags
                  span 
                    a(href="http://b.hatena.ne.jp/#{user.id}/#{counter.word}/", target="_blank") #{counter.word}
                    span : #{counter.count}
                  br
